body {
    background-color: aliceblue;
}

/*----- Sección Películas -----*/
.seccion-peliculas {
    color: slategrey;
}
.titulo-peliculas {
    color: rgb(93, 106, 119);
}

/*------ Sección Tabla -------*/
.texto-indigo {
    color: indigo;
}
.tabla {
    width: 300px;
    margin: auto;
    border-color: darkslateblue;
    background-color: #a680f33f;
}
