/* * {
    margin: 0;
} */

body {
    background-color: aliceblue;
    font-family: "Nerko One", cursive;
    margin: 0;
}
section {
    margin: 3rem;
}
ul {
    margin: 0;
}

h3 {
    font-size: 24px;
}
a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
/* Sección Navbar */
.navbar {
    background-color: #3f51b5;
    background: linear-gradient(
        270deg,
        rgba(247, 66, 69, 1) 0%,
        rgba(208, 51, 71, 1) 11%,
        rgba(178, 63, 94, 1) 20%,
        rgb(132 38 115) 47%,
        rgba(25, 54, 152, 1) 100%
    );
    padding: 10px 0;
    position: sticky;
    top: 0;
}
.giro {
    transition-duration: 0.7s;
}
.giro:hover {
    transform: scale(1.2) rotate3d(0.8, 1, 0, 360deg);
    transition-timing-function: ease-in-out;
}
.ul-nav {
    display: inline-block;
    vertical-align: middle;
}
.navbar li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 24px;
}
.navbar a:link {
    color: #c5b0d8;
}
.navbar a:visited {
    color: #af8ccf;
}
.navbar a:hover {
    color: bisque;
}
.logo {
    width: 50px;
    vertical-align: middle;
}

/*----- Sección Películas -----*/
.seccion-peliculas {
    color: slategrey;
}
.seccion-peliculas p {
    text-align: justify;
}
.titulo-peliculas {
    color: rgb(93, 106, 119);
}

/*------ Sección Tabla -------*/
.texto-indigo {
    color: indigo;
}
.tabla {
    border-color: darkslateblue;
    background-color: #c3acf27d;
}
.relative {
    position: relative;
    width: 300px;
    margin: auto;
}
.texto-fondo {
    color: #e60404e3;
    position: absolute;
    left: 25%;
    top: 40%;
    z-index: -1;
    transform: rotateZ(-24deg);
}

/* ---- Sección Recaudación */
.caja {
    width: 250px;
    background-color: #cfba5d79;
    padding: 10px;
    border-width: 3px;
    border-style: dotted;
    border-color: blueviolet;
    border-radius: 10px;
    /* border: 3px dotted blueviolet; */
    margin: 50px;
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px; */
}

/* ---- Sección Contacto */
.contacto {
    width: 300px;
    padding: 1rem;
    border: 2px dotted brown;
    margin-bottom: 3rem;
}

.magictime.foolishIn {
    animation-duration: 2.5s;
}
